<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true" scanPeriod="10 seconds">


	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
		</encoder>
	</appender>


	<logger name="no.test.healthandsafety" level="TRACE"/>
	<logger name="scala.slick.session" level="TRACE"/>
	<logger name="org.apache.camel.component.http4" level="TRACE"/>

	<root level="WARN">
		<appender-ref ref="CONSOLE"/>
	</root>

</configuration>
